<!DOCTYPE html>

<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Massive Health</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type='text/javascript' src='js/jquery.page-scroll.js' ></script>
    <script type='text/javascript' src='js/polymaps.js' ></script>
    <script type='text/javascript' src='js/heatmap_config.js' ></script>
    <script type='text/javascript' src='js/heatmap.js' ></script>
    <script type='text/javascript' src='js/logic.js'></script>

    <script type="text/template" id="intro-page">
        <div id='main'>
            <div class='intro_title'> How do we </br>really eat? </div>
            <div id='map' class='parallaxA'>
            <div id='map_overlay_landmass' class='intro_map_overlay' style="background-image: url('../images/map800/map.png'); background-position: 0px -20px;"></div>
            <div id='map_overlay_darkness' class='intro_map_overlay map_overlay_darkness' style="background-image: url('../images/map800/darkness.png'); background-position: 680px -20px;"></div>
                <% for (var i=0; i<24; i++) {
                    if (i<10) { j = '0' + i; }
                    else { j = i; }
                    %>
                    <div id='map_overlay_hour_<%=i%>' class='intro_map_overlay map_overlay_hour' style="background-image: url('../images/map800/<%=j%>_hour.png');"></div>
                <% } %>
            </div>
            <div class="section intro_bottom">
                <div class='section intro_dragger'> <div class='intro_time_output'>9:35</div> in London </div>
                <a href='#infographic/perception'><div class='section next_button intro_next parallaxB'>
                    <img src="./images/icon_arrow-right.png" alt="" width="28" height="31" />
                </div></a>
                <div class="image_frame"></div>
                <div id="image_container"></div>
            </div>
        </div>

    </script>

    <script type="text/template" id="about-page">
    <div id='main'>
        <div class='spacer'> </div>
        <div class="image_frame"></div>
        <div id="image_container">
            <div class='about'>
                <h1>Methodology</h1>
                <h2>Behind the Data</h2>
                <p>
                The findings that are presented in these infographics are obtained from the Eatery (unless specified).  This data was obtained from over 7.68 million food ratings by Eatery users from over 50 countries over a span of 5 months.</p>

                <h2>Eatery Findings and the Real World</h2>
                <p>Data obtained from the Eatery is an accurate indicator of the healthiness of its users.  In fact, Eatery data on the average percentile of fit/fat ratings accurately predicts obesity levels of cities in the United States.  Furthermore, findings from the Eatery are in line with proven scientific research.  For example, the influence rate of food choices by friends matches closely with the obesity transmission rates <sup>[3]</sup> described by Christakis and Fowler.  Breakfast eating findings are also in line with research conducted on the effects of breakfast eating – that people who eat breakfast tend to eat less <sup>[4,7,8,9,10]</sup> and healthier throughout the day <sup>[5,6]</sup>. Additionally, as expected, controversial foods, such as coffee, diet soda, orange juice, and bacon are flagged with higher standard deviations from user ratings on the Eatery.</p>

                <h2>People</h2>
                <h3>Development:</h3>
                <ul>
                    <li>Aza Raskin</li>
                    <li>Andrew J. Rosenthal</li>
                    <li>Sylvia Cheng</li>
                </ul>

                <h3>Designers:</h3>
                <ul>
                    <li>Michael Jeter from iShotHim</li>
                    <li>Raphael D’Amico</li>
                </ul>

                <h3>Engineers:</h3>
                <ul>
                    <li>Doug Soo</li>
                    <li>Andrew Carman</li>
                </ul>

                <h2>References</h2>
                <ol>

                    <li>“Nutrition, Physical Activity and Obesity.” Centers for Disease Control and Prevention. Internet:  http://www.cdc.gov/Features/ObesityAndKids/, Oct 17, 2011 [Apr 18, 2012].</li>
                    <li>“The United States of Diabetes: New Report Shows Half the Country Could Have Diabetes or Prediabetes at a cost of $3.35 Trillion by 2020.” UnitedHealth Group.  Internet: http://www.unitedhealthgroup.com/newsroom/news.aspx?id=36df663f-f24d-443f-9250-9dfdc97cedc5, Nov 23, 2012 [Apr 18, 2012].</li>
                    <li>Christakis NA ,Fowler JH. The Spread of Obesity in a Large Social Network over 32 Years. New England Journal of Medicine. 2007; 357-370-9.</li>
                    <li>Clark CA, Gardiner J, McBurney MI, Anderson S, Weatherspoon LJ, Henry DN, Hord NG. Effects of breakfast meal composition on second meal metabolic responses in adults with type 2 diabetes mellitus. Eur J Clin Nutr. 2006;60:1122–9.</li>
                    <li>Isaksson H, Sundberg B, Åman P, Fredriksson H, Olsson J.  Whole grain rye porridge breakfast improves satiety compared to reﬁned wheat bread breakfast. Food & Nutrition Research. 2008; 52.</li>
                    <li>Levine AS, Tallman JR, Grace MK, Parker SA, Billington CJ, Levitt MD. Effect of Breakfast Cereals on Short-term Food Intake.  American Journal of Clinical Nutrition. 1989;50: 1303-7.</li>
                    <li>Liljeberg HG, Akerberg AK, Bjorck IM. Effect of the glycemic index and content of indigestible carbohydrates of cereal-based breakfast meals on glucose tolerance at lunch in healthy subjects. Am J Clin Nutr. 1999;69:647–55.</li>
                    <li>Nestler JE, Barlascini CO, Clore JN, Blackard WG. Absorption characteristic of breakfast determines insulin sensitivity and carbohydrate tolerance for lunch. Diabetes Care. 1988;11:755–60.</li>
                    <li>Pai S, Ghugre PS, Udipi SA. Satiety from rice-based, wheat-based and rice-pulse combination preparations. Appetite. 2005;44:263–71.</li>
                    <li>Pasman WJ, Blokdijk VM, Bertina FM, Hopman WP, Hendriks HF. Effect of two breakfasts, different in carbohydrate composition, on hunger and satiety and mood in healthy men. Int J Obes Relat Metab Disord. 2003;27:663–8.</li>
                </ol>
            </div>
        </div>
        </div>
    </div>
    </script>

</head>

<body>

    <div id="controls" class="light">
        <a href="#scroll/up" class="prev"><img src="./images/icon_arrow-up_light.png" alt="" width="28" height="31" /></a>
        <ul id="pageScroll" class="left"></ul>
        <a href="#scroll/down" class="next"><img src="./images/icon_arrow-down_light.png" alt="" width="28" height="31" /></a>
    </div>

    <div id="banner_wrapper">
        <div id="banner_main">

        </div>
    </div>

    <div id="wrapper" class="dark">
        <div id="main">
        </div><!-- [END] #main -->
        </div>
    </div><!-- [END] #wrapper -->


    <div class="topNav white">
        <ul style="display: block; ">
            <li class="topNavLink nav_intro topNavLink_0"><a href="#">Introduction</a></li>
            <li class="topNavLink nav_perception topNavLink_1"><a href="#infographic/perception">Perception?</a></li>
            <li class="topNavLink nav_when topNavLink_4"><a href="#infographic/when">When?</a></li>
            <li class="topNavLink nav_where topNavLink_3"><a href="#infographic/where">Where?</a></li>
            <li class="topNavLink nav_what topNavLink_2"><a href="#infographic/what">What?</a></li>
            <li class="topNavLink nav_friends topNavLink_5"><a href="#infographic/friends">Who?</a></li>
            <li class="topNavLink nav_about nav_right"><a href="#about">About</a></li>
        </ul>
    </div>

</body><!-- [END] body -->
</html><!-- [END] html -->