<!DOCTYPE html>

<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Massive Health</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type='text/javascript' src='js/jquery.page-scroll.js' ></script>
    <script type='text/javascript' src='js/polymaps.js' ></script>
    <script type='text/javascript' src='js/heatmap_config.js' ></script>
    <script type='text/javascript' src='js/heatmap.js' ></script>
    <script type='text/javascript' src='js/logic.js'></script>

    <script type="text/template" id="intro-page">
        <div id='main'>
            <div class='intro_title'>
                <div id='map'>
                    <div id='map_overlay_landmass' class='intro_map_overlay' style="background-image: url('../images/map800/map.png'); background-position: 0px -10px;"></div>
                    <div id='map_overlay_darkness' class='intro_map_overlay map_overlay_darkness' style="background-image: url('../images/map800/darkness.png');"></div>
                    <% for (var i=0; i<24; i++) {
                        if (i<10) { j = '0' + i; }
                        else { j = i; }
                        %>
                    <div id='map_overlay_hour_<%=i%>' class='intro_map_overlay map_overlay_hour' style="background-image: url('../images/map800/<%=j%>_hour.png');"></div>
                    <% } %>
                    <div class='section map_label_bottom'> Eating healthiness over 24 hours</br><span class='map_label_emphasis'><em>Visualization of over 500,000 foods</em></span>  </div>
                    <div class='section map_label_top'> <div class='intro_time_output'>9:35</div> in San Francisco </div>
                </div>
            </div>

            <div class="section intro_bottom">
                <div class="image_frame"></div>
                <div id="image_container">
                    <div class='intro_infographic_mini'><a href='#infographic/perception'><img src='images/small_perception.png'></a></div>
                    <div class='intro_infographic_mini'><a href='#infographic/when'><img src='images/small_what.png'/></div>
                    <div class='intro_infographic_mini'><a href='#infographic/where'><img src='images/small_when.png'/></div>
                    <div class='intro_infographic_mini'><a href='#infographic/what'><img src='images/small_where.png'/></div>
                    <div class='intro_infographic_mini last'><a href='#infographic/who'><img src='images/small_who.png'/></div>
                </div>
            </div>
        </div>

    </script>

    <script type="text/template" id="about-page">
    <div id='main'>
        <div class='spacer'> </div>
        <div class="image_frame"></div>
        <div id="image_container">
            <div class='about'>
                <h1>Methodology</h1>
                <h2>Behind the Data</h2>
                <p>The findings presented in these infographics are, unless otherwise specified, calculated from 7.68 million food ratings of half-a-million foods by <a href='https://eatery.massivehealth.com/'>Eatery</a> users from over 50 countries over a span of 5 months.</p>

                <h2>Eatery Findings and the Real World</h2>
                <p>We often get asked if crowd-sourced data can be trusted. We had a gut feel that the answer was “probably yes”.</p>
                <p>Famously, one of <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=578301">the most accurate</a> ways to guess the number of jellybeans in a jar is to average the guesses of everyone in the room. The crowd-sourced method beats much more advanced algorithms. To test our hunch that the same applied in nutrition, we looked at the aggregate Eatery scores for all meals eaten in a city versus the published obesity level in that city. It turns out there’s a strong correlation. Eatery data can accurately predict obesity levels of cities in the United States. That is, Eatery data strongly correlates with the healthiness of its users.</p>

                <p>Furthermore, findings from the Eatery aligns with current scientific research.  For example, the influence rate of food choices by friends matches closely with the obesity transmission rates3 described by Christakis and Fowler.  Breakfast eating findings are also in line with research conducted on the effects of breakfast eating&mdash;that people who eat breakfast tend to eat smaller portions<sup>4,7,8,9,10</sup> and healthier food throughout the day<sup>5,6</sup>. Additionally, as expected, controversial foods, such as coffee, diet soda, orange juice, and bacon are flagged with higher standard deviations from user ratings on the Eatery.</p>

                <h2>Data</h2>
                <p>If you are affiliated with a University and would like to use our anonymized data for research, please contact sylvia [at] massivehealth [dot] com.

                <h2>References</h2>
                <ol>

                    <li>“Nutrition, Physical Activity and Obesity.” Centers for Disease Control and Prevention. Internet:  http://www.cdc.gov/Features/ObesityAndKids/, Oct 17, 2011 [Apr 18, 2012].</li>
                    <li>“The United States of Diabetes: New Report Shows Half the Country Could Have Diabetes or Prediabetes at a cost of $3.35 Trillion by 2020.” UnitedHealth Group.  Internet: http://www.unitedhealthgroup.com/newsroom/news.aspx?id=36df663f-f24d-443f-9250-9dfdc97cedc5, Nov 23, 2012 [Apr 18, 2012].</li>
                    <li>Christakis NA ,Fowler JH. The Spread of Obesity in a Large Social Network over 32 Years. New England Journal of Medicine. 2007; 357-370-9.</li>
                    <li>Clark CA, Gardiner J, McBurney MI, Anderson S, Weatherspoon LJ, Henry DN, Hord NG. Effects of breakfast meal composition on second meal metabolic responses in adults with type 2 diabetes mellitus. Eur J Clin Nutr. 2006;60:1122–9.</li>
                    <li>Isaksson H, Sundberg B, Åman P, Fredriksson H, Olsson J.  Whole grain rye porridge breakfast improves satiety compared to reﬁned wheat bread breakfast. Food & Nutrition Research. 2008; 52.</li>
                    <li>Levine AS, Tallman JR, Grace MK, Parker SA, Billington CJ, Levitt MD. Effect of Breakfast Cereals on Short-term Food Intake.  American Journal of Clinical Nutrition. 1989;50: 1303-7.</li>
                    <li>Liljeberg HG, Akerberg AK, Bjorck IM. Effect of the glycemic index and content of indigestible carbohydrates of cereal-based breakfast meals on glucose tolerance at lunch in healthy subjects. Am J Clin Nutr. 1999;69:647–55.</li>
                    <li>Nestler JE, Barlascini CO, Clore JN, Blackard WG. Absorption characteristic of breakfast determines insulin sensitivity and carbohydrate tolerance for lunch. Diabetes Care. 1988;11:755–60.</li>
                    <li>Pai S, Ghugre PS, Udipi SA. Satiety from rice-based, wheat-based and rice-pulse combination preparations. Appetite. 2005;44:263–71.</li>
                    <li>Pasman WJ, Blokdijk VM, Bertina FM, Hopman WP, Hendriks HF. Effect of two breakfasts, different in carbohydrate composition, on hunger and satiety and mood in healthy men. Int J Obes Relat Metab Disord. 2003;27:663–8.</li>
                </ol>
            </div>
        </div>
        </div>
    </div>
    </script>

</head>

<body>



    <div id="banner_wrapper">
        <div id="banner_main">

        </div>
    </div>

    <div id="wrapper" class="dark">
        <div id="main">
        </div><!-- [END] #main -->
        </div>
    </div><!-- [END] #wrapper -->


    <div class="topNav white">
        <ul style="display: block; ">
            <li class="topNavLink nav_mh topNavLink_MH"><a href="http://massivehealth.com"></a></li>
            <li class="topNavLink nav_intro topNavLink_0"><a href="#">The World</a></li>
            <li class="topNavLink nav_perception topNavLink_1"><a href="#infographic/perception">Perception</a></li>
            <li class="topNavLink nav_when topNavLink_4"><a href="#infographic/when">When</a></li>
            <li class="topNavLink nav_where topNavLink_3"><a href="#infographic/where">Where</a></li>
            <li class="topNavLink nav_what topNavLink_2"><a href="#infographic/what">What</a></li>
            <li class="topNavLink nav_friends topNavLink_5"><a href="#infographic/friends">Who</a></li>
            <li class="topNavLink nav_about nav_right"><a href="#about">Methodology</a></li>
        </ul>
    </div>

</body><!-- [END] body -->
</html><!-- [END] html -->