/*---------- 1. DOCUMENT STYLES [start] ----------*/

html{
	height: 100%;
}

body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, table, a, img{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

body{
	height: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Arial sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-image: url('../images/bg.gif');
}

/*ol, ul{
	display: block;
	list-style: none;
}
*/
a, a:focus, input, textarea{
	outline: none;
}

a, a:link, a:visited{
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}
p small {
  font-size: 11px;
  color: #bfbfbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #bfbfbf;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 14px;
}
h3,
h4,
h5,
h6 {
  line-height: 36px;
}
h3 {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}
ul, ol {
  margin: 0 0 18px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
  color: #808080;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}

/*---------- DOCUMENT STYLES [end] ----------*/

/*---------- 2. PAGE STRUCTURE [start] ----------*/

#wrapper{
	position:relative;
	width:100%;
	overflow:hidden;
	min-height: 100%;
	background-color: rgba(0,161,180,0.3);
	-webkit-transition: background-color 0.25s ease-in-out;
	-moz-transition: background-color 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out;
	/*padding-top: 160px;*/
}

* html #wrapper{
	height: 100%;
}

#main{
	width: 960px;
	position: relative;
	overflow: visible;
	margin: 0 auto 0px;
	padding: 0;
}

.section{
	padding: 0px;
	margin: 0px;
}


/************************************************************/
/*	INTRO
/************************************************************/

.intro_title {
	font-size: 120px;
	line-height: 120px;
	color: white;
	/*position: absolute;*/
	margin-top: 80px;
	margin-bottom: 40px;
	pointer-events: none;
}

.next_button {
	padding: 40px;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);

	border: 7px solid #fff;

	background: #f8f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f6f6 0%, #e8e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f6), color-stop(100%,#e8e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* IE10+ */
	background: linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f6', endColorstr='#e8e7e7',GradientType=0 ); /* IE6-9 */

}

.intro_next {
	position: absolute;
	z-index: 1000;
	margin-top: -150px;
	right: 30px;
}

.intro_map, .intro_map_overlay {
	margin-top: 65px;
	width: 100%;
	height: 100%;
}
#map {
	position: relative;
	width: 800px;
	height: 400px;
	overflow: hidden;
	border: 10px solid white;
	margin-left: 70px;
	margin-bottom: 80px;
}
.intro_map_overlay {
	margin-top: -65px;
	position: absolute;
	/*background-image: url('../images/darkness.png');*/
	height: 800px;
}
.map_overlay_hour {
	display: none;
}
.intro_bottom {
/*	position: fixed;
	bottom: 0px;*/
}
.intro_dragger {
/*	margin-left: 80px;
	position: fixed;
	bottom: 60px;*/
	position: absolute;
	margin-top: -100px;
}
.intro_time_output {
	font-size: 20px;

}

/************************************************************/
/*	ABOUT
/************************************************************/

.spacer {
	height: 200px;
}
.about {
	margin: 15px;
}
/************************************************************/
/*	IMAGE (image_)
/************************************************************/


#image {
	position: absolute;
}
#image_container {
	overflow: hidden;
	border: 10px solid white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	width: 960px;
	background-color: white;
}
#image img {
}
.image_frame {
	height: 40px;
	width: 980px;
	position: absolute;
	margin-top: -40px;
	background-image: url('../images/woodTop.png');
}

.shareThis {

}
/************************************************************/
/*	PARALLAX (topNav)
/************************************************************/
.parallaxA, .parallaxB, .parallaxC {z-index: 100;}


/************************************************************/
/*	BANNER (banner_)
/************************************************************/

#banner_wrapper {
	z-index: 100;
	pointer-events: none;
	position: absolute;
	width: 100%;
	margin-top: 160px;
	height: 600px;
}
#banner_wrapper img {
	position: absolute;
}

#banner_main {
	min-width: 960px;
	width: 960px;
	height: 600px;
	/*width: 80%;*/
	position: relative;
	overflow: visible;
	margin: 0 auto 140px;
}
.banner-item {
	position: absolute;
}
.bannerInFront {
	z-index: 150;
}
/************************************************************/
/*	TOPNAV (topNav)
/************************************************************/

.topNav:hover { opacity: 0.9 !important;}
.topNav{
	z-index: 120;
	opacity: 0.9 !important;
	position: fixed !important;
	width: 100%;
	top: 0;
	left: 0;
	height: 65px;
	background: #222;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
}

.topNav ul{
	position: relative;
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	display: block;
	list-style: none;
}

.topNavLink{
	float: left;
	margin: 0 5px 0;
}

.topNavLink a{
	/*border-right: 1px solid white;*/
	display: block;
	height: 18px;
	margin: 15px 0 0;
	line-height: 16px;
	padding: 7px 12px;
	color: #666;
	font-weight: normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.white .topNavLink.active a{
	background: #ccc;
	color: #333;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 3%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fcfcfc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 3%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 3%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 3%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #fcfcfc 3%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border-color: #222;
}

.white .topNavLink a:hover{
	color: #444444;
	text-decoration: none;
}

.nav_right {
	float: right;
}
/************************************************************/
/*	pageScroll (pageScroll)
/************************************************************/

#pageScroll{
	z-index: 101;
	margin-top: 80px;
	width: 40px;
}
.scrollNav.active {
	background: white; /* Old browsers */
}
.scrollNav{
	margin-left: -18px;
	text-align: center;
	overflow: hidden;
	height: 50px;
}

.scrollNav a {
	color: #ababab;
	margin-top: 1px;
	padding: 5px 0px 15px 0px !important;
	height: 10px;
	width: 30px;
	-webkit-border-radius: 70px !important;
	-moz-border-radius: 70px !important;
	border-radius: 70px !important;
}

.scrollNav a:hover{
	color: #444;
	text-decoration: none;
}

li.scrollNav.active a{
	background: #fff;
	color: #333;
	font-weight: bold;
}

#controls{
	position: fixed;
	z-index: 999;
	height: 94%;
	top: 3%;
	right: 5%;
	width: 20px;
	text-align: center;
	-webkit-transition: opacity 0.5s ease-in-out;
}

#controls:hover {
	opacity: 0.9;
}

#controls a{
	display: block;
	position: absolute;
	padding: 12px 10px 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
}

#controls.light a{
	border: 7px solid #fff;
	background: #f8f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f6f6 0%, #e8e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f6), color-stop(100%,#e8e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* IE10+ */
	background: linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f6', endColorstr='#e8e7e7',GradientType=0 ); /* IE6-9 */
}

#controls a:hover{
	text-decoration: none;
	color: #fff;
}

#controls a.next{
	bottom: 0;
}

#controls a.prev{
	top: 0;
}

/*---------- PAGE STRUCTURE [end] ----------

/*************************************************************/
/* Footer
/*************************************************************/

#footer {
	width: 100%;
	background-color: #212121;
	height: 100px;
	padding-top: 20px;
}

#footer_main {
	width: 980px;
	margin: 0px auto 0px;
}
